@charset "UTF-8";

/* @import url(http://weloveiconfonts.com/api/?family=fontawesome); */

body {
    background: #333;
    /* padding: 0 1.25rem;     */
    /* color: #fff; */
    /* font-family: "Roboto", "Helvetica", Arial, sans-serif; */
}

.carousel {
    position: relative;
    padding-bottom: 47%;
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
    background: black;
}

.carousel .slide {
    list-style: none;
    width: 100%;
    padding-bottom: 50%;
    background-color: #25282A;
    color: white;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    /* transition: left 0.5s ease-in-out; */
    transition: left .5s ease-in-out, opacity .4s;
}

.carousel .slide2 {
    list-style: none;
    width: 100%;
    height: 5%;
    background-color: #25282A;
    color: white;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    top: 94%;
    left: 0;
    /* transition: left 1s ease-in-out; */
    transition: left 1s ease-in-out, opacity 1s;
}

.carousel input[type=radio] {
    opacity: 0;
    width: 0;
    height: 0;
}

.carousel input[type=radio]:checked+.dot {
    background: black;
}

.carousel .dot {
    cursor: pointer;
    text-indent: -99999px;
    overflow: hidden;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: #71ABFE;
    border: 0.1rem solid #71ABFE;
    box-sizing: border-box;
    border-radius: 100%;
    position: absolute;
    z-index: 100;
    top: 95%;
    transition: all 0.5s;
}

.carousel .dot:before {
    position: absolute;
    content: '';
    top: -10px;
    right: -10px;
    left: -10px;
    bottom: -10px;
}

.carousel .dot:hover {
    background: white;
    border-color: white;
    transition: all 0.5s;
}


/* slide-1 */

.carousel #slide-1:checked~.slides li.slide-1 {
    left: 0;
    z-index: 2;
}

.carousel #slide-1:checked~.slides li.slide-2 {
    left: -100%;
    opacity: 0;
}

.carousel #slide-1:checked~.slides li.slide-3 {
    top: -1000%;
}

.carousel #slide-1:checked~.slides li.slide-4 {
    top: -1000%;
}


/* slide-2 */

.carousel #slide-2:checked~.slides li.slide-1 {
    left: 100%;
    opacity: 0;
}

.carousel #slide-2:checked~.slides li.slide-2 {
    left: 0;
    z-index: 2;
}

.carousel #slide-2:checked~.slides li.slide-3 {
    left: -100%;
    opacity: 0;
}

.carousel #slide-2:checked~.slides li.slide-4 {
    top: -1000%;
}


/* slide-3 */

.carousel #slide-3:checked~.slides li.slide-1 {
    top: -1000%;
}

.carousel #slide-3:checked~.slides li.slide-2 {
    left: 100%;
    opacity: 0;
}

.carousel #slide-3:checked~.slides li.slide-3 {
    left: 0;
    z-index: 2;
}

.carousel #slide-3:checked~.slides li.slide-4 {
    left: -100%;
    opacity: 0;
}


/* slide-4 */

.carousel #slide-4:checked~.slides li.slide-1 {
    top: -1000%;
}

.carousel #slide-4:checked~.slides li.slide-2 {
    top: -1000%;
}

.carousel #slide-4:checked~.slides li.slide-3 {
    left: 100%;
    opacity: 0;
}

.carousel #slide-4:checked~.slides li.slide-4 {
    left: 0;
    z-index: 2;
}


/* dots */

.carousel .dot.slide-4 {
    right: 7rem;
}

.carousel .dot.slide-3 {
    right: 5rem;
}

.carousel .dot.slide-2 {
    right: 3rem;
}

.carousel .dot.slide-1 {
    right: 1rem;
}

.carousel img {
    /* height: 100%; */
    /* margin: 0 auto; */
    border-radius: 30px;
    width: 100%;
    padding: 1rem;
}

.carousel p {
    padding-left: 1rem;
    margin: 0;
}

@media (max-width: 480px) {
    .carousel .dot.slide-4 {
        left: calc(50% - 40px);
    }
    .carousel .dot.slide-3 {
        left: calc(50% - 20px);
    }
    .carousel .dot.slide-2 {
        left: calc(50% - 0px);
    }
    .carousel .dot.slide-1 {
        left: calc(50% + 20px);
    }
    .carousel .dot {
        top: 75%;
    }
    .carousel {
        padding-bottom: 60%;
    }
    .carousel .slide2 {
        top: 88%;
    }
    .carousel img {
        /* height: 100%; */
        /* margin: 0 auto; */
        width: 90%;
        padding: 20px;
    }
}